.atp {
  background-color: #f7f7f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #080809;
  height: 196px;
  width: 142px;
}

.atp > div.atp-time {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #1a1c1e;
}

.atp > div.atp-clock {
  background: #fff;
  border: 1px solid #e1e1e8;
  box-sizing: border-box;
}

.atp .atp-selected {
  color: #0883ff;
}

.atp > div.atp-selection {
  background-color: #2f97ff;
}