.analogtimepicker-container {
  position: relative;
}

.analogtimepicker-container > div {
  position: absolute;
  text-align: center;
  z-index: 2;
}

.analogtimepicker-container > div.analogtimepicker-time {
  text-align: left;
  width: 100%;
}

.analogtimepicker-container > div.analogtimepicker-clock {
  border-radius: 50%;
  z-index: 1;
}

.analogtimepicker-container > div.analogtimepicker-selection {
  border-radius: 50%;
  z-index: 1;
}

.analogtimepicker-container > div.analogtimepicker-hover-selection {
  border-radius: 50%;
  z-index: 3;
}